In [28]:
import pandas as pd
import numpy as np
import os
pd.read_csv("diabetic_data.csv")

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [64]:
df = pd.read_csv("diabetic_data.csv")
to_drop =['weight','admission_type_id','medical_specialty','max_glu_serum','discharge_disposition_id' , 'admission_source_id', 'encounter_id','patient_nbr', 'payer_code', 'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'glyburide-metformin',  'chlorpropamide',  'tolazamide', 'glipizide-metformin', 'glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone', 'nateglinide', 'examide', 'rosiglitazone','miglitol', 'acetohexamide', 'glipizide', 'glyburide', 'troglitazone', 'A1Cresult', ]
df.drop(to_drop, inplace=True, axis=1)
df=df[df['gender']!='Unknown/Invalid']
df=df[df['race']!='?']
df.head(100)

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,metformin,repaglinide,glimepiride,tolbutamide,pioglitazone,acarbose,citoglipton,insulin,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),1,41,0,1,1,No,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),3,59,0,18,9,No,No,No,No,No,No,No,Up,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,6,No,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),2,44,1,16,7,No,No,No,No,No,No,No,Up,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,51,0,8,5,No,No,No,No,No,No,No,Steady,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Caucasian,Female,[30-40),3,22,1,17,8,Steady,No,No,No,No,No,No,No,No,Yes,NO
103,Caucasian,Male,[60-70),1,59,0,12,7,No,No,No,No,No,No,No,Steady,No,Yes,NO
104,AfricanAmerican,Female,[70-80),3,31,2,11,9,No,No,No,No,No,No,No,Down,Ch,Yes,NO
105,Caucasian,Male,[80-90),2,34,0,9,7,No,No,No,No,No,No,No,No,No,No,>30
106,Other,Female,[50-60),9,96,3,20,9,No,No,No,No,No,No,No,Up,Ch,Yes,NO